*{
    color: white;
    text-align: center;
}

body
{
    background-color: black;

}

img{
    height: 512px;
    width: auto;
}

p{
    font-style: italic;
}
button{
    background-color: red;
    color: gold;
}